{
  "ConnectionStrings": {
    "AutomaticaDatabaseSqlite": "Data Source=automatica.core.db",
    "AutomaticaDatabaseMaria": "Server=localhost;User Id=root;Password=hguyFtgfR4r9R4r76;Database=automatica",
    "AutomaticaDatabaseType": "sqlite"
  },
  "server": {
    "port": 5001,
    "sslPort": 5002,
    "useHttpsRedirect": false,
    "log_microsoft": true,
    "log_level":  "error",
    "remote_connect_url": "dev.automaticaremote.com"
  }
}
